.App {
  text-align: center;
  background-color: #f4f4f4;
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto 50px;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  color: white;
}

.MainContent {
  background-color: #f4f4f4;
  min-height: calc(100vh - 100px - 35px);
}

footer {
  background-color: #282c34;
  font-size: 1em;
  color: white;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  display: block;
  padding-right: 5px;
}

li:hover {
  cursor: pointer;
  color: gold;
}
